# .profile {
# background: lightgray;
# padding: 10px;
#  margin: 10px;
  # }

html {
  background: url('https://www.flickr.com/photos/rubyblossom/7955380910/in/photolist-d7ZpzQ-7hQSvW-7EcRrb-ae8L8m-6aE8Ln-5P8JfC-8H9wSo-5kUXsS-7WqwqS-4knTY7-6Q8k5q-8WiiUm-7MzL1D-nrLAYq-a9BPnM-82qbFq-7GhTV2-7Rr2qy-aFa6fU-fesbM1-7CTXNR-a9C4Sg-9EgKRK-9PWFsq-nBDmbX-6GjPJz-4htWXZ-ae8L6S-8SZBPa-aofKco-7zavVz-BvYuv-8Ftt5c-7AQqU2-6FJ5ZB-8VQFYi-7wi7rP-7U8xYJ-92jymr-7WZe7V-aAbvuz-821uEV-nsL6aX-9bLrLV-7yK5j8-8Rq2tc-8Rq2uv-8SPmRA-7VHa2s-3cS1g8') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -0-background-size: cover;
  background-size: cover;
}

.profile h1 {
  font-size: 16px;
  text-transform: uppercase;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
 
}
